@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poor+Story&family=Shalimar&display=swap');

:root {
--primaryColor: #F6C58B;
--ligthYellow:#FFCF07;
--darkPurple:#480a1f;
--lightOrange:#FE8116;
--darkOrange:#FE5A1D;
--whiteIsh:white;
--lightGrey:#6b6b6b;
--gradient: linear-gradient(45deg,#FE5A1D, #FE8116, #FFA80F,#FFCF07,#FFF600);


--mainSpacing: 0.1rem;
--mainTransition: all 0.3s linear;


--fontSize1: 3.5rem;
--fontSize2: 2.5rem;
--fontSize3: 2rem;
--fontSize4: 1.5rem;
--fontSize5: 1rem;
--fontSize6:
--fontSize7:
--fontSize8:0.5rem;

--border-radius-h: 10px;
--border-radius-l: 5px;




}

/* reset page */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}

 html * {
    font-family: 'Barlow', sans-serif;
    color: var(--darkPurple);
     
  }

 
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  /* background: none;  */
  border: none;
 
}

body{
  display: flex;
  flex-direction: column;
  min-height:100%;
}

/* Header */

.main-header {
  position: fixed;
  /* top:0; */
  width:100%;
  min-width:868px;
  height: 10rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient);
  background-size: 150%;
  animation:bckg-animation 60s infinite alternate;
  
  }
 
  @keyframes bckg-animation {
    0% {background-position:left};
    50% {background-position:right};

}

.top-info {
  width:100%;
  height: 20%;
  border-bottom: 0.001rem solid; 
  /* border-color: var(--lightGrey); */
  border:none;

  display:flex;
  justify-content:space-between;
  align-items:center;
  /* background: var(--ligthYellow); */
}



.section-useractions {
  width:100%;
  height: 80%;
  border-bottom: 1rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  /* background: var(--ligthYellow); */

}
.logo, .social-media {
  margin-left:10%;
}

.shopper-actions, .currency-lang{
  margin-right: 10%;
}


.shipping-info p{
  font-weight: 600;
}
/* icons */
.social-media-links, .shopper-actions-icons, .fa-magnifying-glass {
  color:var(--darkBrown);
  margin:0.2rem;

}


#currency, #language{
  border:none;
  background-color: transparent;
  color:var(--darkBrown);
  font-weight: 500;

}
.search-section{
  max-width: 25rem;
  width: 100%;
  background: rgba(255,255,255,0.2); 
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  backdrop-filter: blur(4px) saturate(160px);
}

.search-section button  {
  border-radius: 6opx;
  border:0;

}

.search-box{
 
  height:2rem;
  flex:1;
  outline:none;
  border-radius: 10px;
  border: 0.01rem solid var(--darkBrown);
  font-family: inherit;
  font-size: medium;
  padding-left:1rem;
  background: transparent;
}


.search-box:focus {
  outline:0;
  
  }

.search-box::placeholder{
color:var(--darkPurple);
text-align:calc();

}

.search-button{
  position:absolute;
  background-color: transparent;
}


.shopper-actions {
  position:relative;
  cursor:pointer;
  
}

.basket-count {
  position:absolute;
  top:-20px;
  right:-8px;
  background-color: var(--darkOrange);
  padding: 3px 5px;
  border-radius:80%;
}

.favourites-count {
  position:absolute;
  top:-20px;
  right:30px;
  background-color: var(--darkOrange);
  padding: 3px 5px;
  border-radius:80%;
}
/* ------main----- */
.main{
  
  width:100%;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(myfolder/images/backgroundimage.jpg);
  background-position: center;
  background-size:cover;
}



/* movie collection grid */

article.movie {
  padding: 1rem 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1px 2px 4px var(--lightGrey);
  border-radius: 5px;

  /* overflow: hidden; */
}
article.movie h3{
  color: var(--lightOrange)
}

h3.dvd-id{
  color:red;
  
}
article.movie h4{
  color: var(--ligthYellow)
}

.movie-grid{
  padding:4rem 0;
  height: 100%;

}

.section-title {
  text-align:center;
  font-size:var(--fontSize2);

}

.movies-display {
  width:90vw;
 
  margin:0 auto; 
  padding-top: 1.5rem;
  max-width:1170px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
  grid-column-gap:1.5rem;
  grid-row-gap:2rem;
 

}

.image-container {
  position:relative;
  overflow:hidden;  
  width:auto;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index:0;
 
}  

  .cart-button{

  padding:0.3rem;
  margin-top:0.5rem; 
  border-radius: 5px;
  font-weight:bold;
  text-transform: uppercase;
  }

 div h3 {
    font-weight: 500;
    font-size: var(--fontSize5);
  }

.dvd-image {

  width: 150px;
  height: 200px;
}

.cart-button:hover{
  color: var(--whiteIsh);
}


.image-in-grid{
  display:block;
  width:100%;
  min-width: 150px;
  min-height: 5rem;
  transition: var(--mainTransition);
}

.image-container:hover .image-in-grid{
 opacity: 0.5;
}



.cart-folder {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: var(--ligthYellow);
  z-index: 2;
  visibility: hidden; 
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: var(--whiteIsh);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%); 
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-qty {
  text-align: center;
}
.remove-item {
  color:var(--lightGrey);
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}











/* button {
  padding:10px;
  background-color:red;
  border-radius: 50%;
  width:3rem;
  height: 3rem;;
} */


.mobile-nav-container{
  display:none;
}

.mobile-bottom-header {
  display:none;
}

/* desktop navbar */

nav {
  position: sticky;
  top: calc(128px + 0px);
  background: var(--gradient);
  
}

.desktop-nav-menu-list .menu-options {
  padding:0.5rem 0;
  text-transform: uppercase;
  font-weight: 600;
}

.desktop-nav-menu-list {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  width:100%;

  margin-right:30%;
}
.menu-title:hover {
  color:var(--lightBlue);
}
/* end of navbar */

/* -------------navbar dropdown-------------- */
/* dropdown content */
.dropdown-options{
  display:none;
  position:absolute;
  padding: 0.5rem 0.7rem;
  z-index:1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: var(--whiteIsh);
  border-radius: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Change color of dropdown links on hover */
.menu-dropdwon-title a:hover {
  color:var(--ligthYellow);
}

.menu-dropdwon-title {
  text-transform: lowercase;
}

.dropdown-options.ul.li.a{
  display:block;
}

 .menu-title{
  cursor:pointer;

 }

.menu-options{
  position:relative;
  display:inline-block;
}


/* navbar */
/* 
.navbar-container {
  position:sticky;
  top:0;
  height:5rem;
  width:100%;
  display:flex;
  align-items: center;
  background-color:#8C7178;
  z-index:1;
} */

/* .navbar-menu{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:0 1.5rem;

}

.nav-icon {
    font-size:1.5rem;
} */

/* .navbar-banner{
    position:relative;
    cursor:pointer;
} */

/* .cart-items {
    position:absolute;
    top:-8px;
    right:-8px;
    background-color: #66202A;
    padding:0 5px;
    border-radius:30%;
    color:#75ACC0;
} */

.main-footer{
  margin-top: auto;
  display:flex;
  flex-direction: column;
 
 
  background: var(--ligthYellow);
  color:var(--whiteIsh);
}

.link-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  font-weight: 600;
  padding: 1rem 0;
}

.title:hover {
  color:var(--whiteIsh);
}

.logo-footer, .link-footer, .pay-social-footer, .copyright-footer {
  padding: 0.5rem 0;
}
.logo-footer, .pay-social-footer, .copyright-footer {
  display:flex;
  align-items:   center;
  justify-content: center;
 
}

.sub-div{
  padding:0.2rem 0;
}
.sub-div:hover {
  transform: scale3d(1,1.2,1.8);
}

